@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    Padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and logo */

h1, h2 {
    font-family: 'Delicious Handrawn', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}